In [5]:
import pandas as pd
import requests
from io import StringIO
import json

In [6]:
response = requests.get(
        "https://dados.mobilidade.rio/gps/brt"
    )

In [7]:
data = json.loads(response.text)
df = pd.json_normalize(data['veiculos'])

In [8]:
df

,codigo,placa,linha,latitude,longitude,dataHora,velocidade,id_migracao_trajeto,sentido,trajeto,hodometro,direcao
0,901008,,35,-22.965406,-43.391566,1703102194000,0.0,,ida,35 - MADUREIRA X ALVORADA (PARADOR) [IDA],54465.9,155
1,901011,RIV8A74,53,-23.001092,-43.367912,1703103544000,18.8,,volta,53 - SENTIDO SULACAP (EXPRESSO) [VOLTA],58459.8,272
2,901018,,35,-22.878440,-43.336313,1703103854000,0.0,,ida,35 - MADUREIRA X ALVORADA (PARADOR) [IDA],31510.0,1
3,901012,,22,-23.000200,-43.342135,1703103849000,0.0,,volta,22 - J. OCEÂNICO X ALVORADA (PARADOR) [VOLTA],50858.6,282
4,901014,,35,-23.001004,-43.364375,1703103603000,18.2,,volta,35 - ALVORADA X MADUREIRA (PARADOR) [VOLTA],64848.0,300
...,...,...,...,...,...,...,...,...,...,...,...,...
457,902245,,19,-23.002677,-43.422816,1703103836000,0.0,,volta,19 - SALVADOR ALLENDE X PINGO D'AGUA (EXPRESSO...,3763.9,72
458,902260,,10,-22.918912,-43.607450,1703103852000,0.0,,ida,10 - SANTA CRUZ X ALVORADA (EXPRESSO) [IDA],3882.0,
459,902283,,10,-23.001063,-43.366985,1703103855000,0.0,,volta,10 - ALVORADA X SANTA CRUZ (EXPRESSO) [VOLTA],610926.5,263
460,902120,,10,-23.000935,-43.364947,1703101995000,0.0,,volta,10 - ALVORADA X SANTA CRUZ (EXPRESSO) [VOLTA],549.6,
461,902205,,19,-23.011945,-43.531443,1703103829000,53.5,,ida,19 - PINGO D'AGUA X SALVADOR ALLENDE (EXPRESSO...,213.0,113

In [9]:
df.describe()

         latitude   longitude      dataHora  velocidade      hodometro
count  462.000000  462.000000  4.620000e+02  462.000000     462.000000
mean   -22.960290  -43.469180  1.702890e+12   16.308009   38860.906264
std      0.073572    0.373959  1.654819e+09   21.570146   43318.741195
min    -23.480424  -46.600214  1.682554e+12    0.000000       0.000000
25%    -23.001073  -43.521621  1.703103e+12    0.000000    4458.425000
50%    -22.972368  -43.384997  1.703104e+12    0.000000   32477.250000
75%    -22.917618  -43.364130  1.703104e+12   32.025000   62130.800000
max    -22.751625  -43.177554  1.703104e+12   91.300000  610926.500000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462 entries, 0 to 461
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   codigo               462 non-null    object
 1   placa                462 non-null    object
 2   linha                462 non-null    object
 3   latitude             462 non-null    float64
 4   longitude            462 non-null    float64
 5   dataHora             462 non-null    int64
 6   velocidade           462 non-null    float64
 7   id_migracao_trajeto  462 non-null    object
 8   sentido              462 non-null    object
 9   trajeto              462 non-null    object
 10  hodometro            462 non-null    float64
 11  direcao              462 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 43.4+ KB